.principles-item
	display flex
	align-items center

	&__icon
		margin-right 30px
		size(52px)
		flex 0 0 52px
		fill $c_svg_red

		&--large
			size(63px)
			flex 0 0 63px
			margin-right 19px

	&__title
		font-size 18px
		line-height 28px
		letter-spacing .02em
		color $c_white
