include ../icon/icon

mixin home-section()
	+b.home-section(data-anchor='home')&attributes(attributes)
		+e.video-wrapper
			+e('video').video(controls='false' muted='muted' data-autoplay='data-autoplay' repeat)
				source(src='https://alager.ru/wp-content/themes/alager/videos/video.mp4')
		+e.content.wrapper
			+e.date 1995 - 2019
			+e.H1.title Признанные специалисты, оказавшие существенное влияние на формирование отечественной IT-индустрии.
			+e.H3.text С 1995 года разрабатываем проекты городского масштаба: Data центры, дисрибуцию, розничные сети, ЦОД.
			+e.BUTTON.btn.btn.btn--red.btn--large.btn--icon
				+icon('folder').__icon
				| Презентация компании
