.home-section
	size(100%)
	overflow hidden

	position relative

	&__video-wrapper
		&:before
			display block

			content ''

			position absolute
			top 0
			left 0
			width 100vw
			height 100vh

			z-index 2
			background-color $c_video_filter_layer

	&__video
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		size(120vw, 120vh)
		z-index 1

	&__content
		position relative
		z-index 4
		padding 23vh 60px 0
		color $c_white

		height 100%

	&__date
		font-size 24px
		font-weight 500
		line-height 37px
		letter-spacing .02em

		margin-bottom 20px

	&__title
		font-size 50px
		font-weight 900
		line-height 60px
		letter-spacing .03em

		margin-bottom 36px

	&__text
		font-size 20px
		font-weight 500
		line-height 36px
		letter-spacing .02em

		max-width 730px

		margin-bottom 48px

	&__icon
		size(28px, 38px)


