mixin nav()
	+b('nav').nav&attributes(attributes)
		+e.UL.list
			+e.LI.item
				+e.A.link(href='#technologies') Технологии
			+e.LI.item
				+e.A.link(href='#solutions') Наши принципы
			+e.LI.item
				+e.A.link(href='#') Интеграция
			+e.LI.item
				+e.A.link(href='#') Управление и интересы
			+e.LI.item
				+e.A.link(href='#') События
			+e.LI.item
				+e.A.link.btn(href='#') Обсудить проект
