.nav
	display flex

	&__list
		display flex
		align-items center

	&__item
		&:not(:last-child)
			margin-right 63px
	&__link
		font-size 16px
		font-weight 700
		letter-spacing .5px
		color $c_link
		transition .5s ease-in-out

		position relative

		&:after
			content ''

			position absolute
			right 0
			left 0
			bottom -10px

			background-color $c_nav_link_active
			size(0, 2px)
			margin 0 auto
			transition .3s ease-in-out

		&.active, &:hover
			&:not(.btn)
				&:after
					width 65%

