.slide-tabs
	display flex
	flex-direction column
	align-items center
	text-align center
	cursor pointer

	&:hover, &.active
		.slide-tabs__text
			color $c_red

		.slide-tabs__icon
			fill $c_red

	&__icon
		size(59px, 58px)
		fill $c_svg
		margin-bottom 20px
		transition .3s ease-in-out

	&__text
		max-width 270px
		font-size 14px
		font-weight 500
		line-height 18px
		text-align center
		letter-spacing .02em
		color $tabs_text
		transition color .3s ease-in-out
