@font-face
	font-family 'MuseoSansCyrl'
	src url('../../assets/fonts/subset-ofont_ru_MuseoSansCyrl300.eot')
	src url('../../assets/fonts/subset-ofont_ru_MuseoSansCyrl300.eot?#iefix') format('embedded-opentype'),
	url('../../assets/fonts/subset-ofont_ru_MuseoSansCyrl300.woff2') format('woff2'),
	url('../../assets/fonts/subset-ofont_ru_MuseoSansCyrl300.woff') format('woff'),
	url('../../assets/fonts/subset-ofont_ru_MuseoSansCyrl300.ttf') format('truetype')
	font-weight 300
	font-style normal

@font-face
	font-family 'MuseoSansCyrl'
	src url('../../assets/fonts/subset-ofont_ru_MuseoSansCyrl500.eot')
	src url('../../assets/fonts/subset-ofont_ru_MuseoSansCyrl500.eot?#iefix') format('embedded-opentype'),
	url('../../assets/fonts/subset-ofont_ru_MuseoSansCyrl500.woff2') format('woff2'),
	url('../../assets/fonts/subset-ofont_ru_MuseoSansCyrl500.woff') format('woff'),
	url('../../assets/fonts/subset-ofont_ru_MuseoSansCyrl500.ttf') format('truetype')
	font-weight normal
	font-style normal

@font-face
	font-family 'MuseoSansCyrl'
	src url('../../assets/fonts/subset-ofont_ru_MuseoSansCyrl900.eot')
	src url('../../assets/fonts/subset-ofont_ru_MuseoSansCyrl900.eot?#iefix') format('embedded-opentype'),
	url('../../assets/fonts/subset-ofont_ru_MuseoSansCyrl900.woff2') format('woff2'),
	url('../../assets/fonts/subset-ofont_ru_MuseoSansCyrl900.woff') format('woff'),
	url('../../assets/fonts/subset-ofont_ru_MuseoSansCyrl900.ttf') format('truetype')
	font-weight 900
	font-style normal

@font-face
	font-family 'MuseoSansCyrl'
	src url('../../assets/fonts/subset-ofont_ru_MuseoSansCyrl700.eot')
	src url('../../assets/fonts/subset-ofont_ru_MuseoSansCyrl700.eot?#iefix') format('embedded-opentype'),
	url('../../assets/fonts/subset-ofont_ru_MuseoSansCyrl700.woff2') format('woff2'),
	url('../../assets/fonts/subset-ofont_ru_MuseoSansCyrl700.woff') format('woff'),
	url('../../assets/fonts/subset-ofont_ru_MuseoSansCyrl700.ttf') format('truetype')
	font-weight 700
	font-style normal
