//Colors

$c_white = #fff
$c_red = #C91226
$c_red_light = #FF3046
$c_gray = #ccc
$c_light_gray = #E9E9E9
$c_dark_gray = #626262
$c_dark = #2E2E2E
$c_dark_secondary = #202020

$c_video_filter_layer = rgba(0, 0, 0, 0.3)
$c_text_base = #131A1F
$c_svg = #AFAFAF
$c_svg_red = #F03145

$c_link = $c_white
$c_nav_bg_sticky = $c_white
$c_nav_border = $c_gray
$c_nav_link = $c_gray
$c_nav_link_red = $c_red
$c_nav_link_active = $c_red_light
$c_logo_red = $c_red
$c_nav_link_dark = $c_dark
$c_btn_bg = $c_white
$c_btn_bg_hover = $c_red_light
$c_btn_text = $c_red_light
$c_title = $c_dark_secondary
$c_title_white = $c_white
$c_slider_btn = $c_light_gray
$tabs_text = $c_dark_gray



