include ../header/header
include ../home-section/home-section
include ../technologies-section/technologies-section
include ../principles-section/principles-section

mixin page()
	+b('body').page&attributes(attributes)
		+header()
		main(id='fullpage')
			section.section
				+home-section()
			section.section
				+technologies-section()
			section.section
				+principles-section()
		block
