.btn
	font-size 14px
	line-height 20px
	font-weight 700
	color $c_btn_text
	text-align center
	letter-spacing .03em
	padding 12px 19px 12px 23px
	background-color $c_btn_bg
	border-radius 5px
	transition .3s ease
	border none

	&:hover
		background-color $c_btn_bg_hover
		color $c_white

	&--red
		background-color $c_btn_bg_hover
		color $c_white

	&--large
		size(357px, 70px)
		font-size 20px
		letter-spacing .03em
		font-weight 500

	&--icon
		display flex
		align-items center
		justify-content: space-between
		padding 12px 39px 12px 32px

.sticky
	.btn
		transition 1s ease-in-out
		background-color $c_red
		color $c_white
