mixin slide-item(image,tag,title,text)
	+b.slide-item&attributes(attributes)
		+e.left
			+e.icon(style=`background-image: url('./assets/images/icons/${image}')`)
		+e.right
			+e.tag= tag
			+e.H3.title= title
			+e.text= text
