.slide-item
	display flex
	background-color $c_white

	&__left, &__right
		flex 0 0 50%
		display flex
		flex-direction column
		align-items center
		justify-content center

	&__right
		flex 0 0 576px
		align-items flex-start
		margin -27px 0 0 7px

	&__icon
		size(354px, 374px)
		background-repeat no-repeat
		background-position center
		background-size 100%

	&__tag
		font-size 16px
		line-height 29px
		letter-spacing .02em
		color #B2B2B2

		margin-bottom 15px

	&__title
		font-size 36px
		font-weight 700
		line-height 1.16
		letter-spacing .7px

		margin-bottom 18px

	&__text
		font-size 16px
		font-weight 300
		line-height 1.6
		letter-spacing .3px
