.tech-slider
	position relative
	.button-prev, .button-next
		position absolute
		top 0
		bottom 0

		z-index 10

		margin auto 0
		size(49px)
		border-top 2px solid $c_slider_btn
		border-right 2px solid $c_slider_btn
		transform rotate(45deg)
		transition .3s linear

		cursor pointer

		&.swiper-button-disabled
			opacity .5

		&:hover
			border-color $c_red


	.button-prev
		left 13px
		transform rotate(-135deg)

	.button-next
		right 13px
