include ../slide-item/slide-item

mixin tech-slider()
	+b.tech-slider.swiper-container&attributes(attributes)
		.swiper-wrapper
			+e.item.swiper-slide
				+slide-item('1.png', 'IoT / M2M', 'Интернет вещей и межмашинное взаимодействие', 'Распределенные системы из большого количества «вещей» или «машин», которые могут быть использованы как для сбора данных и отправки их в центр, так и для выполнения каких-то действий, в том числе физических, по команде из центра.')
			+e.item.swiper-slide
				+slide-item('2.png', 'ML/AI', 'Искуственный интеллект и машинное обучение', 'Применение алгоритмов и фреймворков машинного обучения для обработки данных на edge. Прежде всего, видеоданных (изображений).')
			+e.item.swiper-slide
				+slide-item('3.png', 'Cloud computing, VDI', 'Виртуализация ресурсов.', 'Виртуализация и контейнеризация вычислительных ресурсов, систем хранения данных и рабочих мест. ')
			+e.item.swiper-slide
				+slide-item('4.png', 'Edge computing', 'Организация вычислений и обработки данных на «границе» сети.', 'Использование одноплатных вычислителей на платформе ARM со встраиваемой ОС Linux. Разработка программного обеспечения для работы на edge.')
		.button-prev
		.button-next
